# Pandas로 국민청원 데이터 분석하기

In [12]:
# 출력데이터가 지저분하게 보이지 않도록
import warnings
warnings.filterwarnings('ignore')

## Pandas와 NumPy를 import해 옵니다.

In [13]:
import pandas as pd
import numpy as np

In [14]:
# 그래프에서 한글표현을 위해 폰트를 설치합니다.
%config InlineBackend.figure_format = 'retina'

# !apt -qq -y install fonts-nanum > /dev/null
import matplotlib.font_manager as fm
fontpath = 'C:/Windows/Fonts./HMFMPYUN.ttf'
font = fm.FontProperties(fname=fontpath, size=9)

In [15]:
# 기본 글꼴 변경
import matplotlib as mpl
mpl.font_manager._rebuild()
mpl.pyplot.rc('font', family='HMFMPYUN')

AttributeError: module 'matplotlib' has no attribute 'pyplot'

In [ ]:
from plotnine import *
import plotnine

## csv 데이터를 불러 옵니다.

In [ ]:
df = pd.read_csv('C:/Users/admin/Documents/PythonStudy0/Pandas/source/Upgarde/petition/petition.csv', encoding='utf-8')

## 읽어온 데이터가 몇 행 몇 열인지 봅니다.

In [6]:
df

NameError: name 'df' is not defined

## 일부 데이터 미리 보기
* 상단 5개의 데이터를 불러옵니다.

In [7]:
df.head()

NameError: name 'df' is not defined

* 하단 3개의 데이터를 불러옵니다.

In [8]:
df.tail(3)

NameError: name 'df' is not defined

## 결측치가 있는지 확인해 봅니다.

In [9]:
df.isnull().sum(axis=0)

NameError: name 'df' is not defined

## 데이터 요약하기
* 어떤 컬럼이 있고 어떤 타입인지 출력해 봅니다.

In [10]:
df.info()

NameError: name 'df' is not defined

* 데이터 타입만 따로 뽑아 봅니다.

In [21]:
df.dtypes

article_id     int64
start         object
end           object
answered       int64
votes          int64
category      object
title         object
content       object
dtype: object

* 컬럼명만 따로 추출해 봅니다.

In [22]:
df.columns

Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

* 수치형 데이터에 대한 요약을 봅니다.

In [25]:
df.describe()

          article_id       answered         votes
count  395547.000000  395547.000000  3.955470e+05
mean   251608.934635       0.000073  1.501188e+02
std    153219.216242       0.008562  4.802583e+03
min        21.000000       0.000000  0.000000e+00
25%    115236.500000       0.000000  2.000000e+00
50%    253682.000000       0.000000  5.000000e+00
75%    386137.500000       0.000000  1.500000e+01
max    517122.000000       1.000000  1.192049e+06

* 카테고리(object) 형태의 데이터에 대한 요약을 봅니다.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
article_id    395547 non-null int64
start         395547 non-null object
end           395547 non-null object
answered      395547 non-null int64
votes         395547 non-null int64
category      395547 non-null object
title         395547 non-null object
content       395546 non-null object
dtypes: int64(3), object(5)
memory usage: 24.1+ MB

## 답변대상 청원 보기
20만건 이상 투표를 받으면 답변 대상 청원이 됩니다.<br/>20만건 이상 투표를 받은 청원의 갯수를 세어보세요.

In [27]:
df

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
...,...,...,...,...,...,...,...,...
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하..."
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;

In [112]:
df['votes'] >= 200000

0         False
1         False
2         False
3         False
4         False
          ...
395542    False
395543    False
395544    False
395545    False
395546    False
Name: votes, Length: 395547, dtype: bool

In [113]:
df_20_loc = df.loc[df['votes'] >= 200000]
df_20_loc.sort_values(by='votes', ascending=False).head()

,article_id,start,end,answered,votes,category,title,content
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달..."
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...

In [114]:
df.loc[df['votes'] > 1000].count()

article_id    3472
start         3472
end           3472
answered      3472
votes         3472
category      3472
title         3472
content       3472
dtype: int64

* 20만건 이상 투표를 받은 상위 5개의 청원을 head()를 통해 출력해 보세요.

In [1]:
df_20.category.value_counts()

NameError: name 'df_20' is not defined

* 20만건 이상 투표를 받은 청원을 별도의 컬럼을 만들어 줍니다. 컬럼 이름은 `answer`로 합니다.

In [116]:
df['answer'] = (df['votes'] > 200000) == 1

* df 데이터프레임의 크기를 다시 찍어 보세요. 컬럼 하나가 늘었나요?

In [110]:
df.shape

(395547, 8)

* 새로 생성해 준 answer의 타입은 boolean 타입입니다. int로 변경해 보세요.

In [117]:
df['answer'] = df['answer'].astype(int)

* 답변대상 청원중 아직 답변되지 않은 청원의 수를 계산해 보세요.

In [120]:
df['answer_diff'] = df['answer'] - df['answered']
df['answer_diff'] = sum

## 답변 대상 청원 중 투표를 가장 많이 받은 것

In [121]:
answered_df = df.loc[df['answer'] == 1]
answered_df.sort_values('votes', ascending=False).head()
#df에서 answer이 1개 인것을 보아서, 내림차순으로 정렬

,article_id,start,end,answered,votes,category,title,content,answer,answer_diff
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...,1,<built-in function sum>
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...,1,<built-in function sum>
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,1,<built-in function sum>
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달...",1,<built-in function sum>
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...,1,<built-in function sum>

## 어느 분야의 청원이 가장 많이 들어왔는지?
pandas의 value_counts로 특정 컬럼의 데이터를 그룹화하여 카운된 숫자를 볼 수 있습니다.<br/>
어느 분야의 청원이 가장 많이 들어왔는지 찾아보세요.

In [123]:
category = pd.DataFrame(df['category'].value_counts()).reset_index()
category.columns =['category', 'counts']
category

       category  counts
0          정치개혁   62750
1            기타   48682
2        인권/성평등   34993
3         안전/환경   30638
4      교통/건축/국토   28184
5      외교/통일/국방   26626
6         육아/교육   25537
7          보건복지   24848
8           일자리   23225
9            행정   20268
10  문화/예술/체육/언론   18207
11           미래   18000
12        경제민주화   16793
13         성장동력    7253
14         반려동물    4057
15    저출산/고령화대책    3584
16         농산어촌    1902

## 청원이 가장 많이 들어 온 날은 언제인지 정렬해 보세요.
청원이 가장 많이 들어 온 날은 언제인지 정렬해 보세요.

In [127]:
start_df = pd.DataFrame(df['start'].value_counts()).reset_index()
start_df.columns = ['start', 'counts']
start_df = start_df.sort_values('counts', ascending=False)
print('청원 집계: {}일'.format(start_df.shape[0]))
start_df.head()

청원 집계: 535일

        start  counts
0  2017-11-11    9623
1  2017-09-05    5952
2  2018-01-11    3368
3  2018-02-06    2631
4  2017-11-09    2487

## 피봇 테이블로 투표를 가장 많이 받은 분야를 찾아보세요.

In [129]:
petitions_unique = pd.pivot_table(df, index=['category'], aggfunc=np.sum)
petitions_best = petitions_unique.sort_values(by='votes', \
                                             ascending=False).reset_index()
petitions_best

       category  answer  answered   article_id     votes
0        인권/성평등      24         9   7963154504  12559348
1         안전/환경      10         2   7529327085   6605175
2          정치개혁       8         2  14675522264   6205013
3            기타       8         1  12225143856   5190468
4         육아/교육       3         1   5822857976   4475297
5          보건복지       3         2   6589637853   4341211
6   문화/예술/체육/언론       7         4   4427495546   4149796
7      외교/통일/국방       4         1   6869752323   3696112
8      교통/건축/국토       3         2   8551310963   2902330
9          반려동물       4         0   1033826398   2066624
10           행정       1         1   5124064571   1957460
11        경제민주화       2         1   4529147196   1739580
12          일자리       0         0   6505177516   1180778
13           미래       1         1   4449417157   1140693
14         성장동력       2         2   1795132547    871837
15    저출산/고령화대책       0         0    913203527    178455
16         농산어촌       0         0    518987986    118871

## 투표를 가장 많이 받은 날은 언제일까요?

In [130]:
petitions_start = pd.pivot_table(df, index=['start'], aggfunc=np.sum)
votes_df = petitions_start.sort_values(by='votes', \
                                             ascending=False)
votes_df.loc[petitions_start['votes'] > 350000 ]

            answer  answered  article_id    votes
start
2018-10-17       1         0   378900198  1300523
2018-10-31       2         0   430964099   827096
2018-06-13       1         0   146187973   786157
2018-10-18       2         0   423557789   721524
2018-02-19       1         1    99332898   701520
2018-11-09       2         0   349439392   672819
2018-07-22       1         0   282639463   672491
2017-09-06       1         1    22268570   648209
2018-06-24       2         0   359345089   628925
2018-10-04       2         1   290746555   626761
2018-02-23       2         2   168561151   608530
2018-05-18       1         0   190599564   574483
2018-05-11       1         1   119082098   556549
2019-01-29       2         0   409753872   550474
2018-05-25       2         0   217699031   514253
2018-11-14       1         0   341163199   469027
2018-06-17       2         0   158887091   468341
2018-07-03       1         0   247788786   467132
2018-04-17       1         1   232499699   446950
2018-05-02       1         0   204023320   445493
2018-10-02       1         1   326518258   437841
2017-09-03       1         1      404415   433356
2018-06-14       1         1   204240095   403351
2018-01-20       1         1    99071361   399683
2017-11-17       1         1    23752225   393348
2017-11-24       1         1    80814983   392782
2018-12-07       1         0   394821243   387305
2018-03-24       1         0    96422371   385480
2018-09-06       1         0   381171515   383145
2018-03-03       1         1    94454042   380016
2018-01-15       1         1   106053634   376187
2018-04-16       1         0   168625159   369318
2018-01-25       1         1   129153668   364926
2019-01-07       1         0   312286224   352139

## 청원을 많이 받은 날 VS 투표를 많이 받은 날에 대해 각각 상위 5개 목록을 추출해 봅니다. 
이때, title, content는 안 나와도 됩니다.

In [133]:
votes_df = votes_df.reset_index()
hottest_day_df = start_df.merge(votes_df,on='start',how='left')
hottest_day_df.sort_values('counts',ascending=False)[:5]

        start  counts  index  answer  answered  article_id  votes
0  2017-11-11    9623    199       0         0   348559310  85074
1  2017-09-05    5952    316       0         0    38414241  48808
2  2018-01-11    3368    336       0         0   291069195  44570
3  2018-02-06    2631    207       0         0   342371897  83038
4  2017-11-09    2487    384       0         0    73459579  34774

## 시계열 데이터 보기
* 월별 청원수를 집계해 보세요.

In [139]:
df['start'] = pd.to_datetime(df['start'])
df['start_month'] = df['start'].dt.month
df['start_day'] = df['start'].dt.day
df['start_hour'] = df['start'].dt.hour
df['start_dow'] = df['start'].dt.dayofweek
df.shape

(395547, 14)

In [140]:
df['start_month'].value_counts()

1     52941
11    52847
9     40888
12    38498
10    31687
8     28851
2     28117
7     25714
5     25499
6     25483
4     23227
3     21795
Name: start_month, dtype: int64

* 청원이 가장 많이 들어온 달은 언제인가요?
* 요일별 청원 수는 어떻게 되나요?

* 특정 단어가 들어가는 청원을 찾아보세요.

In [141]:
import re
p = r'.*(돌봄|아이|초등|보육).*'
care = df[df['title'].str.match(p) |
         df['content'].str.match(p, flags=re.MULTILINE)]
care.shape

(47490, 14)

## 위 분석 외에 각자 해보고 싶은 분석을 해보세요.

In [17]:
# 출력데이터가 지저분하게 보이지 않도록
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

# 그래프에서 한글표현을 위해 폰트를 설치합니다.
%config InlineBackend.figure_format = 'retina'

# !apt -qq -y install fonts-nanum > /dev/null
import matplotlib.font_manager as fm
fontpath = 'C:/Windows/Fonts./HMFMPYUN.ttf'
font = fm.FontProperties(fname=fontpath, size=9)

# 기본 글꼴 변경
import matplotlib as mpl
mpl.font_manager._rebuild()
mpl.pyplot.rc('font', family='HMFMPYUN')

from plotnine import *
import plotnine

AttributeError: module 'matplotlib' has no attribute 'pyplot'

In [ ]:
df = pd.read_csv('C:/Users/admin/Documents/PythonStudy0/Pandas/source/Upgarde/petition/petition.csv', encoding='utf-8')

In [148]:
df.head(20)

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
5,26,2017-08-19,2017-08-26,0,2,보건복지,보건복지부 부령 제339호중 “특수의료장비 운영에 관한 규칙” 중 불합리한 행정제...,청원인 왕 기 운\n서울 도봉구 창동 삼성아파트 101-1103호\n청원취지\n보...
6,27,2017-08-19,2017-09-18,0,1,정치개혁,김이수 헌재소장 임명 재고 건의,문 대통령님께 묻습니다 (2017. 8. 19)\n저는 경기도 용인에 살고 있는 국...
7,28,2017-08-19,2017-08-26,0,2137,경제민주화,소액주주를 보호해주십시오,** 존경하옵는 문재인대통령님께\n저는 중국원양자원이라는 KOSPI상장사의 소액 ...
8,29,2017-08-19,2017-09-18,0,3,미래,문재인 정부는 왜 공무원개혁엔 무관심한가?,살충제 계란 사건으로 국민들을 불안케 하고 있다.\n원인이 무엇인가? 살충제를 뿌린...
9,30,2017-08-19,2017-11-17,0,1,일자리,A/S 기사들도 관심을 가져주십시요,안녕하세요. 저는 LG전자 서비스센터에서 근무하고 있는 서비스 기사입니다. 이곳에 ...
10,31,2017-08-19,2017-11-17,0,0,보건복지,<담배 제조 및 매매금지 법안>을 제정해 주시길 부탁드립니다.,안녕하세요 대통령님\n금연 관련 정책들이 강화되고 있지만 여전히 흡연자의 수는 줄어...
11,32,2017-08-19,2017-09-03,0,30,경제민주화,소액주주 보호를 위해 조사요청 드립니다.,"존경하는 대통령님께,\n코스피 주식종목 중국 원양자원은 현재 계속되는 장** 대표이..."
12,33,2017-08-19,2017-11-17,0,15,인권/성평등,납득할 수 있는 장애 재판정을 받고 싶습니다.,안녕하십니까? 저는 경직형 양마비 뇌병변 장애를 가진 장애 대학생 입니다. 합창 시...
13,34,2017-08-19,2017-09-18,0,679,기타,『국가유공자 등 예우 및 지원에 관한법률』상「6.25전몰군경 자녀수당」의 불합리한 ...,(현황)\n우리들 아버지께서는 67여년전 북의 남침으로 조국이 위기에 처했을 때 젊...
14,35,2017-08-19,2017-08-26,0,0,외교/통일/국방,문재인정부는 신한국형 페리프로세스가 작성했습니다.,문재인 대통령님 신한국형 페리프로세스 로드맵작성 했습니다.\n<신한국형 페리 프로세...
15,36,2017-08-19,2017-08-26,0,1,인권/성평등,한국채식인구 100만명. 학교 급식 및 군대에서 현미채식 선택권을 보장해주십시오!,문재인 대통령님과 각 정부 인사분들께 마음속 깊이 존경과 감사를 표합니다. 대한민국...
16,37,2017-08-19,2017-09-18,0,415,기타,황우석박사님 연구재개 허용 촉구합니다.,국민의 70% 이상이 황우석박사님을 응원하고 지지하고 있습니다.\n*2007년 1월...
17,38,2017-08-19,2017-08-26,0,0,외교/통일/국방,한중관계 사드 갈등 해소방법 찾았습니다.,문재인 대통령님 한중관계 사드 갈등 해소방법 찾았습니다.\n시진핑 주석 한테 이렇게...
18,40,2017-08-19,2017-09-18,0,218,외교/통일/국방,국가유공자등 예우및 지우너에 관한 법률 시행령 개정,지금부터 67년전 1950년 6.25전쟁때 조국 대한민국이 위태로운 시점에 우리들 ...
19,41,2017-08-19,2017-09-18,0,227,외교/통일/국방,국가유공자등 예우및 지우너에 관한 법률 시행령 개정,지금부터 67년전 1950년 6.25전쟁때 조국 대한민국이 위태로운 시점에 우리들 ...

In [16]:
category = pd.DataFrame(df['category'].value_counts()).reset_index()
category.columns =['category', 'counts']
category

NameError: name 'df' is not defined